.mainpage {
  position: relative;
  min-height: 100vh;
  background: #0F172A;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #1a1a1a;
}

.header__search-panel {
  z-index: 3;
}